.husky/
build/
coverage/
dist/
logs/
node_modules/

.env
commitlint.config.ts
postcss.config.ts
tailwind.config.ts

# Apps
apps/*/.next/
apps/*/.turbo/
apps/*/next-env.d.ts
apps/*/next.config.js
apps/*/node_modules/
apps/*/postcss.config.js
apps/*/tailwind.config.js

# Packages
packages/*/build/
packages/*/coverage/
packages/*/dist/
packages/*/node_modules/
packages/config/
packages/eslint-config-custom/
packages/global-styles/
packages/tsconfig/