.husky/
build/
coverage/
dist/
logs/
node_modules/

.env
commitlint.config.ts
postcss.config.ts
tailwind.config.ts

# Apps
apps/*/node_modules/

# Packages
packages/*/build/
packages/*/coverage/
packages/*/dist/
packages/*/node_modules/
packages/config/
packages/eslint-config-custom/
packages/tsconfig/